.wrapper {
    border: 1px solid grey;
    background-color: white
}


t{
    border: 1px solid black;
  }

  .rowColour {
    background-color: #dacdcd
  }


  @media only screen
and (max-width : 768px)
 { 
    #standWrap {
       
        width: 100%!important;       
    }
}

