@media only screen
and (max-width : 768px)
 { 
    .mainWrap {
        display: block!important;
        margin-top: 80px!important;
        
    }
    #gridWrap{
        max-width: 100%!important
    }
}
